Save_dir/
Baselines/RobotTool/Trials/
Baselines/RobotTool/__pycache__/
Baselines/RoboTool/
Figure_1.png
LGD/
LLM-Tool-Save.zip
LLM-Tool.zip
PLATO.egg-info/
Submissions/
anygrasp_sdk/
bottle.png
spoon.png
temp_viz.py
testmask.png
verts.csv
**/__pycache__/
*.vscode/
**/Trials/
